from enum import Enum # type: ignore
from typing import TypeAlias, Any # type: ignore

{% include "autogen/templates/pyi/typedef.j2" %}

{% include "autogen/templates/pyi/enum.j2" %}

{% include "autogen/templates/pyi/function.j2" %}