{% for function in functions-%}
{% if "binding" in function.annotations-%}
def {{ function.name }}({{ getFunctionParameters(function) }}) -> {{ cTypeConvert(function.returnType) }}:
{{ convertRawCCommentToPythonDocstring(function) }}
{{'\t'}}...
{% endif-%}
{% endfor-%}