{% for typedef in typedefs-%}
{% if "binding" in typedef.annotations-%}
{{ convertRawCCommentToPythonComment(typedef)-}}
{{ typedef.name }}: TypeAlias = {{ cTypeConvert(typedef.underlyingType) }}
{% endif-%}
{% endfor-%}